                          <p>
                            <hr style="margin: 70px 0 40px 0; color: #ccc; border: 0.5px solid #ddd;" />
                            <%= i18n.__("Thanks"); %>,
                            <br />
                            The Miaum Team
                          </p>
                          <!-- End Content -->
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      <div style="margin: 20px 0; font-size: 12px; text-align: center; color: #999;">
        —
        <a
        href="https://www.miaum.app"
        style="color: #999; text-decoration:none;"
        >
          www.Miaum.app
        </a>
        —
      </div>
    </td>
  </tr>
</table>

</body>
</html>
